.about-bg {
  width: 100%;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-bg .about-text {
  width: 600px;
  height: 600px;
  display: inline-flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 5px #fff08f8c, 0 0 10px #fff08f8c, 0 0 15px #fff08f8c;
  border: 10px double #fff08f8c;
  z-index: 9;
  margin-top: -70px;
  border-radius: 50%;
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
  animation: anime 40s ease-in-out infinite, downppop 5s ease-in-out infinite;
}
@keyframes downppop {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes anime {
  0%,
  20% {
    background: url(../img/8-bit-graphics-pixels-scene-with-pyramids.jpg)
      no-repeat;
    background-size: 110% 110%;
    background-position: center;
    border-radius: 50%;
  }
  20%,
  40% {
    background: url(../img/beautiful-egypt-landscape-digital-art.jpg) no-repeat;
    background-size: 110% 110%;
    background-position: center;
    border-radius: 50%;
  }
  40%,
  60% {
    background: url(../img/8-bit-graphics-pixels-scene-with-pyramids.jpg)
      no-repeat;
    background-size: 110% 110%;
    background-position: center;
    border-radius: 50%;
  }
  60%,
  80% {
    background: url(../img/beautiful-egypt-landscape-digital-art.jpg) no-repeat;
    background-size: 110% 110%;
    background-position: center;
    border-radius: 50%;
  }
  80%,
  100% {
    background: url(../img/8-bit-graphics-pixels-scene-with-pyramids.jpg) no-repeat;
    background-size: 110% 110%;
    background-position: center;
  }
}
.about-bg .about-text::after {
  content: "";
  width: 450px;
  margin-top: 20px;
  height: 35px;
  filter: blur(6px);
  position: absolute;
  bottom: -65px;
  border-radius: 50%;
  box-shadow: 0 0 5px #fff08f8c, 0 0 10px #fff08f8c, 0 0 15px #fff08f8c,
    0 0 20px #fff08f8c, 0 0 25px #fff08f8c, 0 0 30px #fff08f8c,
    0 0 35px #fff08f8c;
  animation: Shadow 40s ease-in-out infinite, uppop 5s ease-in-out infinite;
}
@keyframes uppop {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes Shadow {
  0%,
  20% {
    transform: translateX(0);
    background: url(../img/8-bit-graphics-pixels-scene-with-pyramids.jpg)
      no-repeat;
    background-size: 110% 110%;
    background-position: center;
    border-radius: 50%;
    transform: translateY(0);
  }
  20%,
  40% {
    transform: translateX(360deg);
    background: url(../img/beautiful-egypt-landscape-digital-art.jpg) no-repeat;
    background-size: 110% 110%;
    background-position: center;
    border-radius: 50%;
    transform: translateY(20px);
  }
  40%,
  60% {
    transform: translateX(0);
    background: url(../img/8-bit-graphics-pixels-scene-with-pyramids.jpg)
      no-repeat;
    background-size: 110% 110%;
    background-position: center;
    border-radius: 50%;
    transform: translateY(0);
  }
  60%,
  80% {
    transform: translateX(360deg);
    background: url(../img/beautiful-egypt-landscape-digital-art.jpg) no-repeat;
    background-size: 110% 110%;
    background-position: center;
    border-radius: 50%;
    transform: translateY(20px);
  }
  80%,
  100% {
    transform: translateX(0);
    background: url(../img/8-bit-graphics-pixels-scene-with-pyramids.jpg)
      no-repeat;
    background-size: 110% 110%;
    background-position: center;
    border-radius: 50%;
    transform: translateY(0);
  }
}
.about-bg .about-text p {
  font-size: 20px;
  font-weight: 600;
  min-width: 280px;
  text-align: center;
  padding-top: 20px;
  line-height: 20px;
  letter-spacing: 2px;
}
.about-bg .about-text span {
  position: relative;
  margin-left: 10px;
}
.about-bg .about-text span::before {
  content: "";
  color: #000;
  text-transform: capitalize;
  animation: words 40s ease-in-out infinite;
}
.about-bg .about-text span::after {
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  right: -8px;
}
@keyframes words {
  0%,
  20% {
    content: "lavender life has a wide array of international products which meet the style and colour with perfection, the company has a diverse Various products.";
  }
  20%,
  40% {
    content: "lavender life aspire to be a leather in the field of leather product manufacturer.";
  }
  40%,
  60% {
    content: "high quality leather of lavender life made mostly of cow, lamb, goat and buffalo.";
  }
  60%,
  80% {
    content: "lavender life want to give it's business partners a wide selection of leather products with attractive designs and prices.";
  }
  80%,
  100% {
    content: "lavender life focus on team-effort, determination and quality standards in achieving the highest trust with the partners and can structuring global good will.";
  }
}
.about-members {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.about-members .about-card {
  background: linear-gradient(360deg, transparent, #5e2da08c, #fff08f8c);
  width: 500px;
  height: 100px;
  position: absolute;
  transition: 0.3s ease-in-out;
  border-top-right-radius: 35px;
  border: 1px solid #0000;
  z-index: 9;
}
.about-members .about-card:nth-child(1) {
  position: absolute;
  top: 122px;
}
.about-members .about-card:nth-child(2) {
  position: absolute;
  top: 310px;
  left: 53px;
}
.about-members .about-card:nth-child(3) {
  position: absolute;
  top: 310px;
  right: 53px;
  transform: rotateY(180deg);
}
.about-members .about-card:nth-child(4) {
  position: absolute;
  top: 540px;
  left: 53px;
}
.about-members .about-card:nth-child(5) {
  position: absolute;
  top: 540px;
  right: 53px;
  transform: rotateY(180deg);
}
.about-members .about-card .rot-media {
  position: relative;
  width: 50px;
  height: 50px;
  background: linear-gradient(45deg, #250051, #fbe087);
  display: flex;
  border-radius: 50%;
  float: right;
  border-bottom-right-radius: 19%;
  transform: rotate(179deg);
  transition: 0.45s ease-in-out;
  box-shadow: 0 0 1px 5px #53327b, 1px 1px 10px #313131, 0 0 20px #313131,
    0 0 30px #313131;
  opacity: 0;
}
.about-members .about-card .rot-media:not(:only-child) {
  margin-top: 110px;
  margin-left: 50px;
}
.about-members .about-card:hover,
.about-members .about-card:hover .rot-media {
  opacity: 1;
}
.about-members .about-card .rot-media:hover {
  border-bottom-right-radius: 50%;
  transform: rotate(0deg);
  z-index: 9999;
}
.about-members .about-card:nth-child(3) .rot-media:hover {
  border-bottom-right-radius: 50%;
  transform: rotate(0deg);
  z-index: 9999;
}
.about-members .about-card .rot-media:nth-child(1) {
  background: url(./img/icons8-facebook-100.png) no-repeat;
  background-size: 100%;
  background-position: center;
}
.about-members .about-card .rot-media:nth-child(2) {
  background: url(./img/icons8-instagram-100.png) no-repeat;
  background-size: 100%;
  background-position: center;
}
.about-members .about-card .rot-media:nth-child(3) {
  background: url(./img/icons8-twitterx-100.png) no-repeat;
  background-size: 100%;
  background-position: center;
}
.about-members .about-card .rot-media:nth-child(4) {
  background: url(./img/lavander-life-exporting-1.ico) no-repeat;
  background-size: 100%;
  background-position: center;
}
.about-members .about-card .about-card-img {
  width: 100px;
  height: 101px;
  border-radius: 50%;
  position: absolute;
  left: -53px;
  top: -1px;
  border-left: 1px solid #000;
  transition: 0.4s ease-in-out;
  z-index: 9999;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.about-members .about-card .about-card-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.about-members .about-card .about-card-img:hover {
  box-shadow: 0 0 10px #313131, 0 0 20px #313131, 0 0 30px #313131,
    0 0 40px #313131, 0 0 50px #313131;
}
.about-members .about-card .about-card-text {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-members .about-card .about-card-text h1 {
  font-size: x-large;
  letter-spacing: 8px;
  font-weight: 300;
  font-family: cursive;
}
.about-members .about-card:nth-child(3) .about-card-text h1 {
  transform: rotateY(180deg);
}
.about-members .about-card:nth-child(5) .about-card-text h1 {
  transform: rotateY(180deg);
}
.about-members .about-card .about-card-text .tog-intr {
  width: 10px;
  height: 10px;
  background: #00000000;
  position: absolute;
  right: 15px;
  top: 12px;
  border-radius: 50%;
  border-top-right-radius: 0;
  border-top: 3px double #eee;
  border-right: 3px double #555;
  z-index: 9999;
  outline: 1px solid #af39ff;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.about-members .about-card .about-card-text .tog-intr.active {
  border-top: 0 double #eee;
  border-right: 0 double #555;
  border-bottom: 3px double #72c4ff;
  border-left: 3px double #367b77;
  border-radius: 50%;
  border-bottom-left-radius: 0;
  outline: 1px solid #ff1c8e;
}
.about-members .about-card .about-card-text .tog-intr.active .introduce {
  position: absolute;
  right: 16px;
  top: -133px;
  width: 455px;
  height: 120px;
  color: #fff;
  font-family: cursive;
  font-weight: 900;
  padding: 0 10px;
  box-shadow: 0 0 10px #64009d17;
  z-index: 2;
  border-top-left-radius: 125px;
  border-top-right-radius: 125px;
  display: flex;
  justify-content: center;
  padding: 0 40px;
  align-items: center;
  text-shadow: 0 0 5px #4a5f61;
}
.about-members .about-card .about-card-text .tog-intr.active .introduce::after {
  content: "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum minus ipsum ullam laboriosam, doloribus deleniti nihil? Accusantium pariatur eveniet perspiciatis!";
  text-align: center;
}
.about-members .about-card .about-card-text .tog-intr1 {
  width: 10px;
  height: 10px;
  background: #00000000;
  position: absolute;
  right: 15px;
  top: 12px;
  border-radius: 50%;
  border-top-right-radius: 0;
  border-top: 3px double #eee;
  border-right: 3px double #555;
  z-index: 9999;
  outline: 1px solid #af39ff;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.about-members .about-card .about-card-text .tog-intr1.active {
  border-top: 0 double #eee;
  border-right: 0 double #555;
  border-bottom: 3px double #72c4ff;
  border-left: 3px double #367b77;
  border-radius: 50%;
  border-bottom-left-radius: 0;
  outline: 1px solid #ff1c8e;
}
.about-members .about-card .about-card-text .tog-intr1.active .introduce {
  position: absolute;
  right: 16px;
  top: -133px;
  width: 455px;
  height: 120px;
  background: #9d00f814;
  color: #8c51a7;
  font-family: cursive;
  font-weight: 900;
  padding: 0 10px;
  box-shadow: 0 0 10px #64009d60;
  z-index: 13;
  border-top-left-radius: 125px;
  border-top-right-radius: 125px;
  display: flex;
  justify-content: center;
  padding: 0 40px;
  align-items: center;
  text-shadow: 0 0 5px #4a5f61;
}
.about-members
  .about-card
  .about-card-text
  .tog-intr1.active
  .introduce::after {
  content: "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum minus ipsum ullam laboriosam, doloribus deleniti nihil? Accusantium pariatur eveniet perspiciatis!";
  text-align: center;
}
.about-members .about-card .about-card-text .tog-intr2 {
  width: 10px;
  height: 10px;
  background: #00000000;
  position: absolute;
  right: 15px;
  top: 12px;
  border-radius: 50%;
  border-top-right-radius: 0;
  border-top: 3px double #eee;
  border-right: 3px double #555;
  z-index: 9999;
  outline: 1px solid #af39ff;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.about-members .about-card .about-card-text .tog-intr2.active {
  border-top: 0 double #eee;
  border-right: 0 double #555;
  border-bottom: 3px double #72c4ff;
  border-left: 3px double #367b77;
  border-radius: 50%;
  border-bottom-left-radius: 0;
  outline: 1px solid #ff1c8e;
}
.about-members .about-card .about-card-text .tog-intr2.active .introduce {
  position: absolute;
  right: 16px;
  top: -133px;
  width: 455px;
  height: 120px;
  background: #9d00f814;
  color: #8c51a7;
  font-family: cursive;
  font-weight: 900;
  padding: 0 10px;
  box-shadow: 0 0 10px #64009d60;
  z-index: 13;
  border-top-left-radius: 125px;
  border-top-right-radius: 125px;
  display: flex;
  justify-content: center;
  padding: 0 40px;
  align-items: center;
  text-shadow: 0 0 5px #4a5f61;
}
.about-members
  .about-card
  .about-card-text
  .tog-intr2.active
  .introduce::after {
  content: "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum minus ipsum ullam laboriosam, doloribus deleniti nihil? Accusantium pariatur eveniet perspiciatis!";
  text-align: center;
  transform: rotateY(180deg);
}
.about-members .about-card .about-card-text .tog-intr3 {
  width: 10px;
  height: 10px;
  background: #00000000;
  position: absolute;
  right: 15px;
  top: 12px;
  border-radius: 50%;
  border-top-right-radius: 0;
  border-top: 3px double #eee;
  border-right: 3px double #555;
  z-index: 9999;
  outline: 1px solid #af39ff;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.about-members .about-card .about-card-text .tog-intr3.active {
  border-top: 0 double #eee;
  border-right: 0 double #555;
  border-bottom: 3px double #72c4ff;
  border-left: 3px double #367b77;
  border-radius: 50%;
  border-bottom-left-radius: 0;
  outline: 1px solid #ff1c8e;
}
.about-members .about-card .about-card-text .tog-intr3.active .introduce {
  position: absolute;
  right: 16px;
  top: -133px;
  width: 455px;
  height: 120px;
  background: #9d00f814;
  color: #8c51a7;
  font-family: cursive;
  font-weight: 900;
  padding: 0 10px;
  box-shadow: 0 0 10px #64009d60;
  z-index: 13;
  border-top-left-radius: 125px;
  border-top-right-radius: 125px;
  display: flex;
  justify-content: center;
  padding: 0 40px;
  align-items: center;
  text-shadow: 0 0 5px #4a5f61;
}
.about-members
  .about-card
  .about-card-text
  .tog-intr3.active
  .introduce::after {
  content: "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum minus ipsum ullam laboriosam, doloribus deleniti nihil? Accusantium pariatur eveniet perspiciatis!";
  text-align: center;
}
.about-members .about-card .about-card-text .tog-intr4 {
  width: 10px;
  height: 10px;
  background: #00000000;
  position: absolute;
  right: 15px;
  top: 12px;
  border-radius: 50%;
  border-top-right-radius: 0;
  border-top: 3px double #eee;
  border-right: 3px double #555;
  z-index: 9999;
  outline: 1px solid #af39ff;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.about-members .about-card .about-card-text .tog-intr4.active {
  border-top: 0 double #eee;
  border-right: 0 double #555;
  border-bottom: 3px double #72c4ff;
  border-left: 3px double #367b77;
  border-radius: 50%;
  border-bottom-left-radius: 0;
  outline: 1px solid #ff1c8e;
}
.about-members .about-card .about-card-text .tog-intr4.active .introduce {
  position: absolute;
  right: 16px;
  top: -133px;
  width: 455px;
  height: 120px;
  background: #9d00f814;
  color: #8c51a7;
  font-family: cursive;
  font-weight: 900;
  padding: 0 10px;
  box-shadow: 0 0 10px #64009d60;
  z-index: 13;
  border-top-left-radius: 125px;
  border-top-right-radius: 125px;
  display: flex;
  justify-content: center;
  padding: 0 40px;
  align-items: center;
  text-shadow: 0 0 5px #4a5f61;
}
.about-members
  .about-card
  .about-card-text
  .tog-intr4.active
  .introduce::after {
  content: "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum minus ipsum ullam laboriosam, doloribus deleniti nihil? Accusantium pariatur eveniet perspiciatis!";
  text-align: center;
  transform: rotateY(180deg);
}
@media (max-width: 1024px) {
  .about-bg .about-text {
    width: 500px;
    height: 500px;
  }
  .about-bg .about-text::after {
    content: "";
    width: 400px;
  }
  .about-bg .about-text span {
    font-size: 2rem;
  }
  .about-members .about-card {
    width: 400px;
    height: 80px;
  }
  .about-members .about-card .about-card-img {
    width: 80px;
    height: 80px;
  }
  .about-members .about-card .rot-media {
    width: 40px;
    height: 40px;
  }
  .about-members .about-card .rot-media:not(:only-child) {
    margin-top: 95px;
  }
  .about-members .about-card .about-card-text .tog-intr.active .introduce {
    position: absolute;
    right: 5px;
    top: -133px;
    width: 373px;
  }
  .about-members
    .about-card
    .about-card-text
    .tog-intr.active
    .introduce::after {
    font-size: 0.8rem;
  }
  .about-members .about-card .about-card-text .tog-intr1.active .introduce {
    position: absolute;
    right: 5px;
    top: -120px;
    width: 373px;
    height: 110px;
  }
  .about-members
    .about-card
    .about-card-text
    .tog-intr1.active
    .introduce::after {
    font-size: 0.8rem;
    color: #fff;
  }
  .about-members .about-card .about-card-text .tog-intr2.active .introduce {
    position: absolute;
    right: 5px;
    top: -120px;
    width: 373px;
    height: 110px;
  }
  .about-members
    .about-card
    .about-card-text
    .tog-intr2.active
    .introduce::after {
    font-size: 0.8rem;
    color: #fff;
  }
  .about-members .about-card .about-card-text .tog-intr3.active .introduce {
    position: absolute;
    right: 5px;
    top: -120px;
    width: 373px;
    height: 110px;
  }
  .about-members
    .about-card
    .about-card-text
    .tog-intr3.active
    .introduce::after {
    font-size: 0.8rem;
    color: #fff;
  }
  .about-members .about-card .about-card-text .tog-intr4.active .introduce {
    position: absolute;
    right: 5px;
    top: -120px;
    width: 373px;
    height: 110px;
  }
  .about-members
    .about-card
    .about-card-text
    .tog-intr4.active
    .introduce::after {
    font-size: 0.8rem;
    color: #fff;
  }
  .about-members {
    height: 110vh;
  }
  .about-members .about-card:nth-child(2) {
    left: 60px;
  }
  .about-members .about-card:nth-child(3) {
    right: 60px;
  }
  .about-members .about-card:nth-child(4) {
    left: 60px;
  }
  .about-members .about-card:nth-child(5) {
    right: 60px;
  }
}
@media (max-width: 768px) {
  .about-members {
    height: 175vh;
  }
  .about-members .about-card:nth-child(2) {
    position: absolute;
    top: 310px;
    left: 184px;
  }
  .about-members .about-card .about-card-text .tog-intr1.active .introduce {
    position: absolute;
    top: -120px;
    width: 373px;
    height: 110px;
  }
  .about-members .about-card:nth-child(3) {
    position: absolute;
    top: 510px;
    right: 184px;
    transform: rotateY(0deg);
  }
  .about-members .about-card:nth-child(3) .about-card-text h1 {
    transform: rotateY(0deg);
  }
  .about-members
    .about-card
    .about-card-text
    .tog-intr2.active
    .introduce::after {
    transform: rotateY(0deg);
  }
  .about-members .about-card .about-card-text .tog-intr2.active .introduce {
    position: absolute;
    top: -120px;
    width: 373px;
    height: 110px;
  }
  .about-members .about-card:nth-child(4) {
    position: absolute;
    top: 740px;
    left: 184px;
  }
  .about-members .about-card .about-card-text .tog-intr3.active .introduce {
    position: absolute;
    top: -120px;
    width: 373px;
    height: 110px;
  }
  .about-members .about-card:nth-child(5) {
    position: absolute;
    top: 940px;
    right: 184px;
    transform: rotateY(0deg);
  }
  .about-members .about-card:nth-child(5) .about-card-text h1 {
    transform: rotateY(0deg);
  }
  .about-members
    .about-card
    .about-card-text
    .tog-intr4.active
    .introduce::after {
    transform: rotateY(0deg);
  }
  .about-members .about-card .about-card-text .tog-intr4.active .introduce {
    position: absolute;
    top: -120px;
    width: 373px;
    height: 110px;
  }
}
@media (max-width: 600px) {
  .about-bg {
    padding-top: 0rem !important;
  }
  .about-bg .about-text {
    width: 380px;
    height: 380px;
  }
  .about-bg .about-text span {
    font-size: 1.5rem;
  }
  .about-bg .about-text::after {
    width: 280px;
  }
  .about-members .about-card {
    width: 320px;
  }
  .about-members .about-card:nth-child(1) {
    left: 80px;
  }
  .about-members .about-card .about-card-text h1 {
    font-size: large;
  }
  .about-members .about-card .about-card-text .tog-intr.active .introduce {
    top: -140px;
    width: 295px;
    height: 135px;
  }
  .about-members .about-card .rot-media:not(:only-child) {
    margin-left: 30px;
  }
  .about-members .about-card:nth-child(2) {
    left: 80px;
  }
  .about-members .about-card .about-card-text .tog-intr1.active .introduce {
    top: -140px;
    width: 295px;
    height: 135px;
  }
  .about-members .about-card:nth-child(3) {
    right: 26px;
  }
  .about-members .about-card .about-card-text .tog-intr2.active .introduce {
    top: -140px;
    width: 295px;
    height: 135px;
  }
  .about-members .about-card:nth-child(4) {
    left: 80px;
  }
  .about-members .about-card .about-card-text .tog-intr3.active .introduce {
    top: -140px;
    width: 295px;
    height: 135px;
  }
  .about-members .about-card:nth-child(5) {
    right: 26px;
  }
  .about-members .about-card .about-card-text .tog-intr4.active .introduce {
    top: -140px;
    width: 295px;
    height: 135px;
  }
}
