.container-brands{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    position: relative;
    padding: 30px;
    margin-top: 50px;
}
.container-brands .brands{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.container-brands .brands .child-brand{
    width: 230px;
    height: 270px;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.container-brands .brands .child-brand .img-brand{
    width: 230px;
    height: 180px;
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
}
.container-brands .brands .child-brand .imag1{
    background: url(../img/brand2new.png);
    background-repeat: no-repeat;
    background-size: 95% 100%;
    background-position: center center;
    filter: grayscale(1) brightness(0.5);
}
.container-brands .brands .child-brand .imag2{
    background: url(../img/img1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    filter: grayscale(1) brightness(0.5);
}
.container-brands .brands .child-brand .imag3{
    background: url(../img/img2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    filter: grayscale(1) brightness(0.5);
}
.container-brands .brands .child-brand .imag4{
    background: url(../img/img4.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    filter: grayscale(1) brightness(0.5);
}
.container-brands .brands .child-brand .imag5{
    background: url(../img/img5.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    filter: grayscale(1) brightness(0.5);
}
.container-brands .brands .child-brand .imag6{
    background: url(../img/img6.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    filter: grayscale(1) brightness(0.5);
}
.container-brands .brands .child-brand .imag7{
    background: url(../img/7.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    filter: grayscale(1) brightness(0.5);
    height: 190px !important;
}
.container-brands .brands .child-brand .imag8{
    background: url(../img/8.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    filter: grayscale(1) brightness(0.5);
    height: 190px !important;
}
.container-brands .brands .child-brand .imag9{
    background: url(../img/9.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    filter: grayscale(1) brightness(0.5);
    height: 190px !important;
}
.container-brands .brands .child-brand .imag10{
    background: url(../img/img10.png);
    background-repeat: no-repeat;
    background-size: 110% 100%;
    background-position: center center;
    filter: grayscale(1) brightness(0.5);
}
.container-brands .brands .child-brand .txt-brand{
    width: 230px;
    height: 100px;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
}
.container-brands .brands .child-brand .txt-brand::after{
    content: "";
    width: 230px;
    height: 45px;
    position: absolute;
    top: 0;
    transition: all 0.5s ease-in-out;
}
.container-brands .brands .child-brand .txt1::after{
    background: url(../img/txt3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}
.container-brands .brands .child-brand .txt2::after{
    background: url(../img/txt1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}
.container-brands .brands .child-brand .txt3::after{
    background: url(../img/txt2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}
.container-brands .brands .child-brand .txt4::after{
    background: url(../img/txt4.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}
.container-brands .brands .child-brand .txt5::after{
    background: url(../img/txt5.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}
.container-brands .brands .child-brand .txt6::after{
    background: url(../img/txt6.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}
.container-brands .brands .child-brand .txt7::after{
    content: "";
    height: 0px !important;
}
.container-brands .brands .child-brand .txt8::after{
    content: "";
    height: 0px !important;
}
.container-brands .brands .child-brand .txt9::after{
    content: "";
    height: 0px !important;
}
.container-brands .brands .child-brand .txt10::after{
    background: url(../img/txt10.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}
.container-brands .brands .child-brand .txt-brand span{
    height: 50px;
    font-size: 16px;
    position: absolute;
    bottom: 0;
    text-align: center;
    text-transform: capitalize;
    color: #1d0046;
}

/********************* hover ********************/

/* img */

.container-brands .brands .child-brand:hover .imag1{
    transform: scale(1.1);
    background: url(../img/brand2.png);
    background-repeat: no-repeat;
    background-size: 70% 90%;
    background-position: center center;
    filter: inherit;
}
.container-brands .brands .child-brand:hover .imag2{
    transform: scale(1.1);
    background: url(../img/img1.png);
    background-repeat: no-repeat;
    background-size: 95% 95%;
    background-position: center center;
    filter: inherit;
}
.container-brands .brands .child-brand:hover .imag3{
    transform: scale(1.1);
    background: url(../img/img2.png);
    background-repeat: no-repeat;
    background-size: 95% 95%;
    background-position: center center;
    filter: inherit;
}
.container-brands .brands .child-brand:hover .imag4{
    transform: scale(1.1);
    background: url(../img/img4.png);
    background-repeat: no-repeat;
    background-size: 95% 95%;
    background-position: center center;
    filter: inherit;
}
.container-brands .brands .child-brand:hover .imag5{
    transform: scale(1.1);
    background: url(../img/img5.png);
    background-repeat: no-repeat;
    background-size: 95% 95%;
    background-position: center center;
    filter: inherit;
}
.container-brands .brands .child-brand:hover .imag6{
    transform: scale(1.1);
    background: url(../img/img6.png);
    background-repeat: no-repeat;
    background-size: 95% 95%;
    background-position: center center;
    filter: inherit;
}
.container-brands .brands .child-brand:hover .imag7{
    transform: scale(1.1);
    background: url(../img/7.png);
    background-repeat: no-repeat;
    background-size: 95% 95%;
    background-position: center center;
    filter: inherit;
}
.container-brands .brands .child-brand:hover .imag8{
    transform: scale(1.1);
    background: url(../img/8.png);
    background-repeat: no-repeat;
    background-size: 95% 95%;
    background-position: center center;
    filter: inherit;
}
.container-brands .brands .child-brand:hover .imag9{
    transform: scale(1.1);
    background: url(../img/9.png);
    background-repeat: no-repeat;
    background-size: 95% 95%;
    background-position: center center;
    filter: inherit;
}
.container-brands .brands .child-brand:hover .imag10{
    transform: scale(1.1);
    background: url(../img/img10.png);
    background-repeat: no-repeat;
    background-size: 110% 95%;
    background-position: center center;
    filter: inherit;
}

/* txt */

.container-brands .brands .child-brand:hover .txt1::after{
        background: url(../img/txt3.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
}
.container-brands .brands .child-brand:hover .txt2::after{
        background: url(../img/txt1.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
}
.container-brands .brands .child-brand:hover .txt3::after{
        background: url(../img/txt2.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
}
.container-brands .brands .child-brand:hover .txt4::after{
        background: url(../img/txt4.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
}
.container-brands .brands .child-brand:hover .txt5::after{
        background: url(../img/txt5.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
}
.container-brands .brands .child-brand:hover .txt6::after{
        background: url(../img/txt6.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
}
.container-brands .brands .child-brand:hover .txt10::after{
        background: url(../img/txt10.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
}