
.container-contact-big {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: #222; */
    padding: 50px 100px;
}

.container-contact-big .content {
    max-width: 800px;
    text-align: center;
    margin: -35px 0 35px 0;
}

.container-contact-big .content h2 {
    font-size: 3em;
    font-weight: 500;
    color: aliceblue;
}

.container-contact-big .content p {
    color: rgb(67, 67, 67);
    font-size: 1.1em;
    font-weight: 500;
}

.container-contact-big .container-contact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.container-contact-big .container-contact .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container-contact-big .container-contact .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
    /* cursor: pointer; */
}

.container-contact-big .container-contact .contactInfo .box .icon-contact {
    position: relative;
    min-width: 60px;
    height: 60px;
    background: repeating-conic-gradient(from 27.5deg, #6301db 0%, #6301db 10% ,transparent 10%, transparent 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-contact-big .container-contact .contactInfo .box .icon-contact::before {
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from 117.5deg, #6301db 0%, #6301db 10%,transparent 10%, transparent 50%);

}

.container-contact-big .container-contact .contactInfo .box .icon-contact::after {
    content: '';
    position: absolute;
    inset: 2px;
    border: 20px solid #b296d4;
}

.container-contact-big .container-contact .contactInfo .box .icon-contact b {
    position: absolute;
    inset: 8px;
    background: #ffffff;
    z-index: 2;
}

.container-contact-big .container-contact .contactInfo .box .icon-contact i {
    position: relative;
    z-index: 9;
    color: #222;
    font-size: 1.25em;
}
.container-contact-big .container-contact .contactInfo .box .icon-contact:hover i {
    color: #6301db;
    font-size: 1.4em;
}

.container-contact-big .container-contact .contactInfo .box .text-contact {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 1.1em;
    color: #3d3d3d;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container-contact-big .container-contact .contactInfo .box .text-contact h3 {
    font-weight: 500;
    color: #4d01db;
}

.container-contact-big .container-contact .contactInfo .txt {
    color: #3d3d3d;
    font-weight: 500;
    margin-top: 50px;
    border-left: 50px double #6301db;
    padding-left: 10px;
    line-height: 1em;
}

.container-contact-big .container-contact .contactInfo .sci {
    position: relative;
    display: flex;
    gap: 30px;
    margin: 20px 0;
}

.container-contact-big .container-contact .contactInfo .sci li {
    list-style: none;
}

.container-contact-big .container-contact .contactInfo .sci li a {
    color: rgb(99, 99, 99);
    font-size: 1.5em;
    transition: 0.25s ease-in-out;
}

.container-contact-big .container-contact .contactInfo .sci li a:hover {
    color: #6301db;
    filter: drop-shadow(0 0 5px #6301db);
}

.container-contact-big .container-contact .contactForm {
    position: relative;
    width: 40%;
    background: repeating-conic-gradient(from var(--a), #9d3aff 0%, #9d3aff 10%, transparent 10%, transparent 50%);
    animation: AnimeCard 6s linear infinite !important;
    padding: 60px;
    box-shadow: 0 0 30px #fff06859;
}

.container-contact-big .container-contact .contactForm::before {
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from var(--a), #9d3aff 0%, #9d3aff 10%, transparent 10%, transparent 50%);
    animation: AnimeCard 6s linear infinite !important;
    animation-delay: -1.5s !important;
    box-shadow: 0 0 30px #fff06859;
}

.container-contact-big .container-contact .contactForm::after {
    content: '';
    position: absolute;
    inset: 2px;
    border: 20px solid #f5ecff;
    background: linear-gradient(to right, #5f506e87, #64398687, #5f506e87), url(../img/WhatsApp\ Image\ 2024-10-18\ at\ 6.39.49\ AM.jpeg) no-repeat;
    background-size: 110% 110%;
    background-position: center center;
}

@property --a {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@keyframes AnimeCard {
    0% {
        --a:0deg;
    }

    100% {
        --a: 360deg ;
    }
}

.container-contact-big .container-contact .contactForm form {
    position: relative;
    z-index: 10;
}

.container-contact-big .container-contact .contactForm form h2 {
    font-size: 2em;
    color: aliceblue;
    font-weight: 500;
}

.container-contact-big .container-contact .contactForm form .inputBox {
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.container-contact-big .container-contact .contactForm form .inputBox input,
.container-contact-big .container-contact .contactForm form .inputBox button,
.container-contact-big .container-contact .contactForm form .inputBox textarea {
    width: 100% !important;
    padding: 5px 0;
    font-size: 1.1em;
    margin: 10px 0;
    border: none;
    background: transparent;
    border-bottom: 2px solid #f5ecff;
    color: aliceblue;
    outline: none;
    resize: none;
}

.container-contact-big .container-contact .contactForm form .inputBox span {
    position: absolute;
    left: 0;
    pointer-events: none;
    padding: 5px 0;
    margin: 10px 0;
    font-size: 1.1em;
    color: aliceblue;
    transition: 0.5s ease-in-out;
}

.container-contact-big .container-contact .contactForm form .inputBox input:focus~span,
.container-contact-big .container-contact .contactForm form .inputBox textarea:focus~span,
.container-contact-big .container-contact .contactForm form .inputBox input:valid~span,
.container-contact-big .container-contact .contactForm form .inputBox textarea:valid~span {
    color: #d9b3ff;
    font-size: 0.9em;
    text-shadow: 0 0 20px #fdfaff;
    transform: translateY(-24px);
}

.container-contact-big .container-contact .contactForm form .inputBox button[type="submit"] {
    width: 100%;
    background: #f5ecff;
    color: #9d3aff;
    cursor: pointer;
    padding: 10px;
    font-size: 1.1em;
    font-weight: 500;
    transition: 0.5s ease-in-out;
}
.container-contact-big .container-contact .contactForm form .inputBox button[type="submit"]:hover {
    /* font-size: 1.15em; */
    background: #9d3aff;
    color: #ffffff;
    border-bottom: 2px solid #9d3aff;
}

/* Start Responsive */
@media (max-width: 991px) {
    .container-contact-big {
        padding: 50px;
    }

    .container-contact-big .container-contact {
        flex-direction: column;
    }

    .container-contact-big .container-contact .contactInfo,
    .container-contact-big .container-contact .contactForm {
        width: 100%;
    }
    .container-contact-big .container-contact .contactForm {
        padding: 30px;
    }
    .container-contact-big .container-contact .contactForm form{
        padding: 10px;
    }
}