#carousel_o {
  height: 85vh;
}
#carousel_img {
  height: 90%;
}
#Text_l {
  background: linear-gradient(to top, red, transparent);
}
#Prev_R {
  border: 6px solid #f4eaff;
}
#Next_L {
  border: 6px solid #f4eaff;
}
