.menu-btn {
  background: url("../img/icons8-menu-vertical-100\ \(6\).png") no-repeat;
  background-size: 45px;
  background-position: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.4s ease;
  z-index: 2;
}
.menu-btn.active {
  background: url("../img/icons8-menu-vertical-100\ \(2\).png") no-repeat;
  background-size: 100%;
  background-position: center;
  transition: 0.4s ease;
  z-index: 2;
}
.big-nav.active {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  color: #fff;
  background: rgba(1, 1, 1, 0.5);
  flex-direction: column;
  align-content: stretch;
  justify-content: center;
  max-width: none;
}
.big-nav.active nav {
  background: #fff;
  width: 400px;
  height: 372px;
  max-width: 400px;
  position: absolute;
  padding: 40px;
  letter-spacing: 6px;
  line-height: 39px;
  display: flex;
  flex-direction: column;
  top: 130px;
  align-items: center;
  border-radius: 5px;
}
.big-nav.active nav .butt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.Brands-nav{
  display: flex;
  flex-wrap: wrap;
}
.Brands-nav li{
  width: 50%;
}
.Us_Btn {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 4.5vh;
  text-align: center;
  flex-wrap: nowrap;
  width: 100px;
  position: absolute;
  right: -110px;
  transition: 0.3s ease-in-out;
}
.Us_Btn.active {
  width: 100px;
  position: absolute;
  right: -117px;
}
.All_btn_user {
  position: absolute;
  top: 60px;
  right: -117px;
  width: 200px;
  border-radius: 50px;
  display: none;
  height: 200px;
  border-top-right-radius: 0;
  flex-direction: column;
  z-index: 99999;
  gap: 10px;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: #bfbfbf4f;
  box-shadow: 0 0 10px #ffff;
  transform: translateY(-10px);
  transition: 0.7s ease-in-out;
}
.All_btn_user.active {
  display: flex;
  width: 14vw;
}
.All_btn_user .Btn_user {
  display: flex;
  width: 170px;
  height: 50px;
  gap: 10px;
  flex-direction: row;
  border-radius: 50px;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .big-nav.active nav {
    height: 440px;
    top: 70px;
  }
  .Us_Btn {
    position: inherit;
    bottom: -24px;
    height: 45px;
    right: 35px;
    width: 140px;
  }
  .Us_Btn.active {
    position: absolute;
    right: 31.5px;
    width: 140px;
  }
  .ADMINBTN {
    position: inherit;
    top: -22px;
    left: 113px;
  }
  .All_btn_user.active {
    display: flex;
    width: 51vw;
  }
  .All_btn_user {
    position: absolute;
    top: 470px;
    right: 0;
    width: 200px;
    border-radius: 50px;
    display: none;
    height: 60px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    flex-direction: column;
    z-index: 99999;
    gap: 10px;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: #bfbfbf4f;
    box-shadow: 0 0 10px #ffff;
    transform: translateY(-10px);
    transition: 0.7s ease-in-out;
  }
  .All_btn_user.active {
    display: flex;
    width: 51vw;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  .All_btn_user .Btn_user {
    display: flex;
    width: 115px;
    height: 40px;
  }
  .Us_Btn {
    position: inherit;
    bottom: -24px;
    height: 45px;
    right: 128px;
  }
  .Us_Btn.active {
    position: absolute;
    right: 124px;
    width: 140px;
  }
}
@media (max-width: 600px){
    .All_btn_user.active {
        width: 93.5vw;
    }
    .ADMINBTN span{
            display: inline-block;
    }
    .cart-text span{
        display: inline-block;
    }
}